<template>
  <v-app>
    <v-main>
      <Reward/>
    </v-main>
  </v-app>
</template>

<script>
import Reward from './components/Driver';

export default {
  name: 'App',

  components: {
    Reward
  },

  data: () => ({
    //
  }),
};
</script>
