<template>
  <div id="app">
  <v-app id="inspire">
    <v-card max-width="450" class="mx-auto">
      <v-toolbar color="#142246" dark>
        <v-btn icon>
          <v-icon color="whilte"> mdi-close </v-icon>
        </v-btn>
        <v-toolbar-title>{{ header }}</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
    <v-list three-line>
      <v-subheader class="list-header">
        {{ referralHeader }}
      </v-subheader>
      <v-container :key="items.referral">
        <v-row>
          <v-col v-for="(item, i) in items" :key="i" cols="12">
            <v-card :color="item.color" class="item-card">
              <div class="d-flex flex-row justify-space-between session">
                  <div class="d-flex flex-row justify-space-between">
                    <v-avatar size="50"> 
                      <v-img :src="item.avatar"></v-img>
                    </v-avatar>
                    <div class="personal-info">
                      <p v-text="item.name" id="name"></p>
                      <p v-text="item.supplier_id" id="supplier_id"></p>
                    </div>
                  </div>
                  <div class="contact-aha d-flex flex-row justify-space-around">
                    <div>
                    <v-avatar color="#FF6633" size="32">
                      <v-icon color="#FFFFFF">mdi-phone</v-icon>
                    </v-avatar>
                    </div>
                    <div>
                    <v-avatar color="#7A8189" size="32">
                      <v-icon color="#FFFFFF">
                        mdi-message-text
                      </v-icon>
                    </v-avatar>
                    </div>
                  </div>
              </div>
              <div class="session section_progress">
                  <div class="tasks">
                      <v-avatar :color="getColorAvatar(item.progress.register.status)" id="progress" class="code-scan">
                          <v-icon large color="#FFFFFF">
                            mdi-qrcode-scan
                          </v-icon>
                      </v-avatar>
                      <v-avatar :color="getColorAvatar(item.progress.onboarding.status)" id="progress" class="notebook">
                          <v-icon large color="#FFFFFF">
                            mdi-notebook-outline
                          </v-icon>
                      </v-avatar>
                      <v-avatar :color="getColorAvatar(item.progress.ship.status)" id="progress" class="motorbike">
                        <v-icon large :color="getColorMoto(item.progress.ship.status)">
                          mdi-motorbike
                        </v-icon>
                      </v-avatar>
                      <v-avatar color="#F2F2F2" id="progress" class="currency">
                        <v-icon large color="#FFC738">
                          mdi-currency-usd-circle
                        </v-icon>
                      </v-avatar>
                  </div>
                  <v-progress-linear absolute :value="item.progress.percent" class="progress-bar"></v-progress-linear>
              </div>
              <div class="session message">
                <v-card color="#F2F2F2">
                    <span class="message-span" v-html="item.message"></span>
                </v-card>
              </div>
            </v-card>        
          </v-col>
        </v-row>
      </v-container>
    </v-list>
    </v-card>
  </v-app>
</div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Reward',
    created () {
      axios
        .get('http://localhost:8080/driver.json')
        .then(response => this.items = response.data)
        .catch(
          axios.get('http://localhost:5000/driver.json')
          .then(
            response => this.items = response.data
          )
          .catch(
            error => console.log(error))
        )
    },
    methods: {
      getColorAvatar: (status) => {
          if (status === 'done')
          {
            return '#1DC05E'
          }
          else if (status == 'in-process')
          {
            return '#142246'
          }
          else if (status == 'waiting' || status == 'upstream-fail')
          {
            return '#F2F2F2'
          }
          else 
          {
            return '#142246'
          }
      },

      getColorMoto: (status) => {
        if (status === 'waiting' || status === 'upstream-fail')
        {
          return '#7A8189'
        }
        return '#FFFFFF'
      }

    },
    data: () => ({
      header: 'Theo dõi thành tích giới thiệu',
      referralHeader: 'NHỮNG TÀI XẾ BẠN ĐÃ GIỚI THIỆU',
      items: []
    }),
  }
</script>


<style scoped lang="scss">

  #inspire {
    background-color: #F2F2F2;
  }

  .list-header{
    padding-left: 15px;
    // left: 12px;
    // top: 323px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */

    text-transform: uppercase;

    /* Grey */

    color: #7A8189;
  }

  .personal-info{
  
    #name{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #000000;
      margin: 0px 10px ;
    }

    #supplier_id{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      /* identical to box height, or 167% */

      display: flex;
      align-items: center;
      margin: 0px 10px;

      /* Neutral/Dark Grey */

      color: #7A8189;
    }

  }
  .item-card{
    padding: 0.016px 5px;
  }
  .contact-aha{
    width: 30%;
    padding-right: 10px;
  }

  .session{
    margin-top: 10px;
  }


  .section_progress{
    
    height: 100%;
    margin: 20px;
    left: 0;
    position: relative;

    .tasks{

      background-color: green($color: #000000);

      // position: relative;

      #progress{
        z-index: 4;
      }

      .code-scan{
        left: 0;
      }

      .notebook{
        left: 5%;
      }

      .motorbike{
        left: 10%;
      }

      .currency{
        position: absolute;
        right: 0;
      }

    }
  }
  .v-progress-linear--absolute {
    position: absolute;
    top: 24px;
  }

  .message{
    margin-top: 10px;
    bottom: 0;
    padding: 10px;

    .message-span{
      padding: 5px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }

</style>